@import '../../sass/_variables.scss';


.main {
    @media screen and (min-width: $layout-breakpoints-small) {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
}

.container {
    position: relative;
    @media screen and (min-width: $layout-breakpoints-small) {
        width: calc(940px - 2em);
        height: calc(600px - 2em);
        background-color: $white;
        padding: 1rem;
        display: flex;
        border-radius: 15px;
    }
}

.form {
    @media screen and (min-width: $layout-breakpoints-small) {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2.5em 5.6em 1em 6.25em;
        justify-content: space-between;
    }
}

.content {
    background-color: $white;
    width: calc(100% - 5rem);
    position: absolute;
    margin: 0 1rem;
    top: 6.25rem;
    border-radius: 10px;
    padding: 1.5em;
    box-shadow: 0 25px 40px -20px $light-gray;
    @media screen and (min-width: $layout-breakpoints-small) {
    margin: 0;
    position: static;
    width: 100%;
    height: auto;
    padding: 0;
    box-shadow: none;
    }

    p {
        color: $gray;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $layout-breakpoints-small) {
            margin-bottom: 1.45em;
        }
        label {
            font-size: 0.75rem;
            font-weight: 400;
            color: $denim;
            @media screen and (min-width: $layout-breakpoints-small) {
                font-size:0.85rem;
            }
        }
        input{
            border: 1px solid $light-gray;
            padding: 1em; 
            border-radius: 4px;
            outline: none;
            cursor: pointer;
            &:focus {
                border: 1px solid $purple;
            }
            @media screen and (min-width: $layout-breakpoints-small) {
                padding: 1.05em 1em;
                border-radius: 8px;
            }
        }
    }
    ::placeholder { 
        font-size: 0.938rem;
        color: $gray;
    }
}

form {
    margin: 0.5em 0;
    @media screen and (min-width: $layout-breakpoints-small) {
        margin-top: 2em;
    }
}

.footer {
    position: fixed;
    bottom:0;
    background-color: $white;
    height: 4.5rem;
    width: 100%;
    @media screen and (min-width: $layout-breakpoints-small) {
        position: relative;
        height: auto;
    }
    .footer-container {
        display:flex;
        justify-content: space-between;
        padding: 0 1em;
        align-items: center;
        height: 100%;
        @media screen and (min-width: $layout-breakpoints-small) {
            padding: 0;
        }

        button {
            background-color: $denim;
            outline: none;
            border: none;
            color: $white;
            padding: 0.875em 1.25em; 
            border-radius: 4px;
            cursor: pointer;
            @media screen and (min-width: $layout-breakpoints-small) {
                padding: 1em 1.5em;
                font-size: 1rem;
                border-radius: 8px;
            }
            &:hover {
                background-color: #164A8A;
            }
        }

        p {
            font-weight: 500;
            font-size: 0.875rem;
            color: $gray;
            @media screen and (min-width: $layout-breakpoints-small) {
                font-size:1rem;
            }
        }
    }
}