@import '../../sass/_variables.scss';


.main {
    @media screen and (min-width: $layout-breakpoints-small) {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
}

.container {
    position: relative;
    @media screen and (min-width: $layout-breakpoints-small) {
        width: calc(940px - 2em);
        height: calc(600px - 2em);
        background-color: $white;
        padding: 1rem;
        display: flex;
    }
}

.form {
    @media screen and (min-width: $layout-breakpoints-small) {
        display: flex;
        flex-direction: column;
    }
}

.content {
    background-color: $white;
    width: calc(100% - 5rem);
    position: absolute;
    margin: 0 1rem;
    top: 6.25rem;
    border-radius: 10px;
    padding: 1.5em;
    box-shadow: 0 25px 40px -20px $light-gray;
    @media screen and (min-width: $layout-breakpoints-small) {
    margin: 0;
    position: static;
    width: 100%;
    height: auto;
    background-color: black;
    }

    p {
        color: $gray;
        display: flex;
        flex-direction: column;
        label {
            font-size: 0.75rem;
            font-weight: 400;
            color: $denim;
        }
        input{
            border: 1px solid $light-gray;
            padding: 1em; 
            border-radius: 4px;
        }
    }
    ::placeholder { 
        font-size: 0.938rem;
        color: $gray;
    }
}

.footer {
    position: fixed;
    bottom:0;
    @media screen and (min-width: $layout-breakpoints-small) {
        position: relative;
    }
}